extends layout.pug 

block main 
    div.main
        if success 
            p Task added succesfully
        if error
            p please dont leave it empty
        form.form(action='/add' method='POST')
            input.input(type='text' placeholder='Add your action...' name='task')
            input.time(type='time' name='time')
            button.btn ADD

        div.todos
            if tasklist.length
                each task in tasklist
                    div.task 
                        div.text 
                            a(href=`/${task.id}/update`) #{task.description}
                        div.time
                            p #{task.time}
                            a(href=`/${task.id}/delete`) Delete
                        
                            
            else 
                p.task no data available